.header{
    background-color: rgb(35, 32, 32);
    height: 150px;
    width: 100%;
    color: rgb(128, 123, 123);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    position: sticky;
    border: 1px solid rgb(255, 255, 255);
}