.custom-navbar {
  background-color: #141414;
  padding: 15px 30px;
}

.logo {
  color: red !important;
  font-size: 26px;
  font-weight: bold;
}

.nav-link {
  color: white !important;
  margin-left: 15px;
  font-weight: 500;
}

.nav-link:hover {
  color: red !important;
}

.navbar-toggler {
  background-color: white;
}
.navbar-nav {
  display: flex;
  align-items: center;
  gap: 20px;   /* 👈 yaha se gap control hoga */
}

.nav-link {
  color: white !important;
  font-weight: 500;
  margin-left: 0 !important;   /* 👈 remove extra margin */
}
