.nav-link {
  position: relative;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffffff !important;
}

/* Netflix underline effect */
.nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #e50914;
  left: 0;
  bottom: -4px;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

/* Active link */
.nav-link.active {
  color: #ffffff !important;
}
